
<li class="slider__item glide__slide">
    <article class="card-item">
        <a class="card-item__link" href="">
        <picture class="card-item__cover">
            <span class="card-item__tag">Nuevo</span>
            <img class="card-item__img--front" src="<%= producto.img_front %>"
                alt="<% producto.product_description%>">
            <img class="card-item__img--back" src="<%= producto.img_back %>"
                alt="<% producto.product_description %>">
        </picture>
        <div class="card-item__content">
            <p class="card-item__licence"><%= producto.licence_name%></p>
            <h4 class="card-item__name"><%= producto.product_name%></h4>
            <p class="card-item__price">$ <%= producto.product_price%></p>
            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
        </div>
    </a>
    </article>
</li>